<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 header">
            <div class="span4">{{ _('Name') }}</div>
            <div class="span2">{{ _('Status') }}</div>
            <div class="span4">{{ _('Time') }}</div>
            <div class="span2">{{ _('Cancel') }}</div>
        </div>
    </div>
</div>
<div class="terminal">
    <pre id="cmfg3d-terminal" class="pre-scrollable" data-bind="foreach: displayed"></pre>
</div>
<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn" title="{{ _('Request') }}" data-bind="click: requestToken">{{ _('Request') }}</button>
        <button class="btn" title="{{ _('Grab JOb') }}" data-bind="click: grabJob">{{ _('Grab Job') }}</button>
        <button class="btn" title="{{ _('Scan Device') }}" data-bind="click: scanDevice">{{ _('Scan Device') }}</button>
    </div>
</div>
