<h4>OAuth Config</h4>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Authorization URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.cmfg3dapi.authorize">
        </div>
        <label class="control-label">{{ _('EndPoint URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.cmfg3dapi.endpoint">
        </div>
        <label class="control-label">{{ _('Consumer Key') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.cmfg3dapi.consumerKey">
        </div>
        <label class="control-label">{{ _('Consumer Secret') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.cmfg3dapi.consumerSecret">
        </div>
        <label class="control-label">{{ _('UID') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.cmfg3dapi.uid">
        </div>
        <label class="control-label">{{ _('Token Key') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.cmfg3dapi.tokenKey">
        </div>
        <label class="control-label">{{ _('Token Secret') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.cmfg3dapi.tokenSecret">
        </div>
    </div>
</form>
