<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 header">
            <div class="span4">{{ _('Name') }}</div>
            <div class="span2">{{ _('Status') }}</div>
            <div class="span4">{{ _('Time') }}</div>
            <div class="span2">{{ _('Cancel') }}</div>
        </div>
    </div>
</div>
<div class="terminal">
    <pre id="cmfg3d-terminal" class="pre-scrollable" data-bind="foreach: displayed"><span data-bind="text: line"></span></pre>
</div>
<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn" title="{{ _('Register') }}" data-bind="click: register">{{ _('Register') }}</button>
        <button class="btn" title="{{ _('GetToken') }}" data-bind="click: getAccessToken">{{ _('GetToken') }}</button>
        <button class="btn" title="{{ _('Check Settings') }}" data-bind="click: checkSettings">{{ _('Check Settings') }}</button>
        <button class="btn" title="{{ _('Update Options') }}" data-bind="click: updateOptions">{{ _('Update Options') }}</button>
    </div>
</div>
<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn" title="{{ _('List Queue') }}" data-bind="click: listQueue">{{ _('List Queue') }}</button>
        <button class="btn" title="{{ _('Get Bots') }}" data-bind="click: getBots">{{ _('Get Bots') }}</button>
        <button class="btn" title="{{ _('List Jobs') }}" data-bind="click: listJobs">{{ _('List Jobs') }}</button>
        <button class="btn" title="{{ _('Grab Job') }}" data-bind="click: grabJob">{{ _('Grab Job') }}</button>
        <button class="btn" title="{{ _('Get Job') }}" data-bind="click: getJob">{{ _('Get Job') }}</button>
    </div>
</div>
<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn" title="{{ _('Download File') }}" data-bind="click: download">{{ _('Download File') }}</button>
        <button class="btn" title="{{ _('Start Print') }}" data-bind="click: startPrint">{{ _('Start Print') }}</button>
        <button class="btn" title="{{ _('Auto Run') }}" data-bind="click: autorun">{{ _('Auto Run') }}</button>
    </div>
</div>
