/* TODO: Have your plugin's CSS files generated to here. */
#tab_plugin_cmfg3dapi .terminal #cmfg3d-terminal,#tab_plugin_cmfg3dapi .terminal #cmfg3d-terminal-lowfi {
    min-height:340px;
    margin-bottom:5px;
}
#tab_plugin_cmfg3dapi .terminal #cmfg3d-terminal span {
    display: block;
}
